*{
    margin: 0;
    padding: 0;
}



:root{
    --primary-color: #a1dfd9;
    --text-color: rgb(56, 52, 43);
    --secondary-color: rgb(226, 130, 79); 
    --third-color: rgb(200, 216, 209);
}

body{
    background-color: var(--third-color);
}

ul li{
    list-style: none;
    display: inline;
    padding: 18px;
    font-size: larger;
    color: var(--text-color);
}
nav{
    background-color: var(--primary-color);
    padding: 1.5% 0;
    font-family: "Roboto", sans-serif;
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
}