.logo{
    width: 40px;
    height: 23px;
    background-color: aqua;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right ul{
    display: flex;
    gap: 34px;
}
.right ul li { 
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
body{
    background-color: #222222;
    color: beige;
}
.logo img{
    width: 160px;
}
svg {
    color: aliceblue;
}
.right ul li span{
    padding: 0 5px;
}
.head1{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: xxx-large;
    margin-top: 120px;
    text-indent: 20px;
}
.head2{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}
.button1{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.button1{
    border: 2px solid black;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: auto;
    width: 15%;
    padding: 15px;
    margin-top: 40px;
    border-radius: 10px;
    color: aliceblue;
    text-decoration: none;
    background-color: #00b6d1;
    font-weight: 900;
}
.head3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.grid{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:12px;
    
}
.item {
    padding: 23px;
    background: #beb7b7;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.item-lang{
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}

.btn{
    background: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    margin: 12px 0;
    cursor: pointer;
}

.green{
    background-color: #5cb85c;
}

.item-lang{
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}
