@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
}
.sec1{
    background-image: url(Assets/Images/background1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max (1200px 100vw);
    height: 69vh;
    position: relative;
}
.sec1 .box{
    height: 69vh;
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0.4;
    background-color: black;
}
nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 65px;
}
nav img{
    width: 120px;
    color: red;
    position: relative;
    z-index: 5;
    opacity: 0.85;
}
nav buttons{
    position: relative;
    z-index: 5;

}
.signinandlang{
    z-index: 10;
}
.hero{
    height: 89%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 10px;
}
.hero> :first-child{
    font-size: 35px;
    font-weight: 900;
} 
.hero> :nth-child(2){
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
}
.hero>:nth-child(3){
    font-size: 17px;
    padding: 5px;
    font-weight: lighter;
}
.brdr{
    border: 5px solid rgb(64, 57, 57);
}
.intmail{
    padding: 10px;
}
.sec2{
    width: 100%;
    height: 20vh;
    background-color:rgb(124, 149, 149);
    color: white;
    display: flex;
    background-size: max (1200px 100vw);
    position: relative;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    font-family: "Martel Sans", sans-serif;
}
.sec2> :nth-child(1){
    margin-left: 20%;
    font-size: xx-large;
    font-weight: 900;
}
.sec2> :nth-child(2){
    margin-left: 20%;
    margin-right: 50%;
    font-size: large;
    font-weight: 400;
}
.tvfrm{
    color: white;
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(23, 23, 23, 0.463);
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}
.btn-red-sm{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 4px;
}
.mailint1{
    padding: 4px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 2px soild rgba(246, 238, 238, 0.3);   
}
.btnint1{
    background-color: red;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}


.first{
    display: flex;
    justify-content: center;
    max-width: 50vw;
    margin: auto;
    color: white;
}
.secimg{
    position: relative;
}
.secimg img{
    width: 25vw;
    /* justify-content: center;
    align-items: center; */
    position: relative;
    z-index: 10;
}
.secimg video{
    position: absolute;
    top: 53px;
    right: 47px;
    height: 10.15vw;
}
.text102{
    align-items: center;
    justify-content: center;
    display: flex;
}