.logo{
    width: 40px;
    height: 23px;
    background-color:blue;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right ul{
    display: flex;
    gap: 34px;
}
.right ul li { 
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
body{
    background-color: #222222;
    color: beige;
}
.logo img{
    width: 160px;
}
svg {
    color: aliceblue;
}
.right ul li span{
    padding: 0 5px;
}